/*******************************************

--------  ERIC MEYERS RESET CODE   --------

********************************************

 http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
********************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** ************** *************** ***  ***

*****   END OF MEYERS RESET CODE *** ****

************ ********  *****  ***********/


body {
	background: linear-gradient(to bottom right, #FAFAFA,  #9575CD);
	width: 100%;
	height: 100vh;
	font-family: 'Cinzel', serif;
}

.card {

	position: relative;
  top: 50%;
  transform: translateY(-50%);

	margin: 0 auto;
	width: 650px;
	height: 390px;
	background-color: GHOSTWHITE;
	border-radius: 7px;
	box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.25);
}

.wrap-content{
	height: 100%;

}

.quote {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
    width: 65%;
	height: 390px;
	background-color: transparent;
	padding: 10px;
}

li {
	margin: 20px 10px 20px 20px;
}

.heading {
	font-size: 1.2em;
	color: #7B68EE;

}

.message {
	font-size: 1.75em;
	color: SLATEBLUE;
	font-family: 'Neuton', serif;
    line-height: 1.4;
}

.author {
	font-size: 1.65em;
	color: #2AA3EF;
	font-family: 'Montserrat Subrayada', sans-serif;
}



.btn{
	position: absolute;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 0px 36px 7px rgba(0,0,0,0.20);
	color: white;
	transition-duration: 0.7s;
}

button:focus {
	outline:0 !important;
}

.next {
	right: 8%;
	top: 10%;
	background-color: #F95DA1;
    box-shadow: 0px 0px 36px 12px rgba(#E6E6FA,0.40);
}

.next:hover {
	background-color: white;
    color: #F95DA1;
	box-shadow: 0px 0px 36px 12px rgba(#E6E6FA,0.40);
}

.tweet {
	right: 8%;
	bottom: 10%;
	background-color: #2AA3EF;
    box-shadow: 0px 0px 43px 12px rgba(#E6E6FA,0.40);
}


.tweet:hover {
	background-color: white;
  color: #2AA3EF;
	box-shadow: 0px 0px 43px 12px rgba(#E6E6FA,0.40);
}

footer {
	bottom: 10px;
	font-size: 1.1em;
	position: absolute;
}

p {
	text-decoration: none;
	margin-left: 6px;
	margin-bottom: 3px;
}

.a {
	color: #E84F89;
	text-decoration: none !important;
}

.a:hover {
	font-size: 1.2em;
	color: #E84F89;
	text-decoration: none;
}
